﻿@model  BussinessLogicCR.Models.UserModel

<link rel="stylesheet" href="~/css/Login.css" />


<div class="wrapper fadeInDown container">
    <div id="formContent">

        <!-- Login Form -->
        <form action="@(Url.Action("Login", "Home"))" method="post">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="username"> <br />
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"><br />
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        <p>If you don't have an account. <a href="@(Url.Action("Registration", "Home"))">Registration</a></p>


    </div>
</div>