﻿@model BussinessLogicCR.Models.UserModel

<link rel="stylesheet" href="~/css/Login.css" />

<div class="wrapper fadeInDown container">
    <div id="formContent">

        <!-- Login Form -->
        <form action="@(Url.Action("Registration", "Home"))" method="post">
            @Html.TextBoxFor(x => x.Username,null,new { @placeholder="username", @class= "fadeIn second" }) <br />
            @Html.TextBoxFor(x => x.Password,null,new { @placeholder="password", @class= "fadeIn third"  }) <br /> 
            <input type="submit" class="fadeIn fourth" value="Create an account">
        </form>
        <p>If you have an account. <a href="@(Url.Action("Login", "Home"))">Login</a></p>


    </div>
</div>