﻿@model BussinessLogicCR.Models.EnglishWordModel
<style>
    .word {
        color: aquamarine;
    }
    .description {
        
        color: black;
        font-size: 29px;
    }
</style>


<p  class="description">@Model.Description</p>
<p class="word">@Model.Word</p>
<div> 
<img src="~/Content/EnglishWordPicture/@Model.PictureName" />
</div>
