﻿@model BussinessLogicCR.Models.EnglishWordModel
@{
    ViewData["Title"] = "AddEnglishWord";
}

<h1>AddEnglishWord</h1>
@if (ViewBag.msg != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.msg
    </div>
}
@using (Html.BeginForm(Url.Action("EnglishWord", "AddEnglishWord", FormMethod.Post)))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        @(Html.TextBoxFor(x=>x.Word,new { @placeholder="Enter unknown word", @class="form-control"}))

    </div>
    <div class="form-group">
        @(Html.TextBoxFor(x=>x.Description,new { @placeholder="Enter meaning", @class="form-control"}))
    </div>
    <div class="form-group">
        @(Html.DropDownListFor(x=>x.Status,new SelectList(new int[] { 1,2,3}),"---Select status---"))
    </div>
    <button type="submit" class="btn btn-primary">Enter</button>

}

