﻿@model BussinessLogicCR.Models.EnglishWordModel
@{
    ViewData["Title"] = "EditWord";
}

<h1>EditWord</h1>
<div class="container">
    <form action="@(Url.Action("ChangeWord", "EnglishWord"))" method="post">
        @Html.HiddenFor(x => x.Id)
        @Html.TextBoxFor(x => x.Word, new { @placeholder = "Word", @class = "form-control", @value = Model.Word }) <br />
        @Html.TextBoxFor(x => x.Description, new { @placeholder = "Description", @class = "form-control", @value = Model.Description }) <br />
        @Html.TextBoxFor(x => x.PictureName, new { @placeholder = "Picture name", @class = "form-control", @value = (Model.PictureName!=null?Model.PictureName:"") })
        <input class="btn btn-success" type="submit" value="Change" />

    </form>
</div>

