﻿@{
    ViewData["Title"] = "ExerSizePageOneWord";
}
<style>
    .float {
        float: left;
    }
</style>
@using (Html.BeginForm("FindWord", "EnglishWord", null, FormMethod.Post))
{
    <div class="card text-center">
        <div class="card-header">
            <span class="float" ><a href="@Url.Action("ShowAllWords","EnglishWord")">Show All Words</a></span>
            <span>
                Word On @Html.DropDownList("lan", new SelectList(new string[] { "Serbian", "English" }), "--Select Language--")
            </span>
        </div>
         
        <div class="card-footer text-muted">
            <button style="color:white;" type="submit" class="btn btn-primary">Start</button>
        </div>
    </div>
    
}
