﻿@{
    ViewData["Title"] = "ExerSizePage";
    List<int> wordSelect = new List<int>() { 10, 20, 30 }; 
}
<a href="@Url.Action("ShowAllWords", "EnglishWord")">Show all words</a>

<div class="dropdown show"> 
        @using (Html.BeginForm("ShowNumberWords", "EnglishWord", FormMethod.Post))
        {
    <p>
        I wont to exersize with
        @Html.DropDownList("number", new SelectList(wordSelect), "--Select--", new { @onchange = "Change(this.value)" })
        words with status  @Html.DropDownList("status", new SelectList(new int[] { 1,2,3}), "--Select status--")
        <input class="btn btn-success" type="submit" value="Find words" />
    </p>
        }
        
          
</div>  


