﻿@model List<BussinessLogicCR.Models.EnglishWordModel>
@{ 
ViewData["Title"] = "ExerSizePageOneWord";
string language = ViewBag.Language;
//int i = 0;
}
<style>
    .hidden {
        display: none;
    }
</style>
@using (Html.BeginForm("FindWord", "EnglishWord", null, FormMethod.Post))
{


    <div class="card text-center">
        <div class="card-header">
            Word On @language
            @Html.Hidden("lan", new { @value = language })
        </div>

        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@(language == "English" ? Model[i].Word : Model[i].Description)</h5>
                            <p id="ShowP@(i)" class="card-text hidden">@(language == "English" ? Model[i].Description : Model[i].Word)</p>
                            <a onclick="show(@i)" class="btn btn-primary btn-sm">Show Translate</a>
                        </div>
                    </div>
                </div>

                @if ((i = i + 1) < Model.Count)
                {
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@(language == "English" ? Model[i].Word : Model[i].Description)</h5>
                                <p id="ShowP@(i)" class="card-text hidden">@(language == "English" ? Model[i].Description : Model[i].Word)</p>
                                <a onclick="show(@i)" class="btn btn-primary btn-sm">Show Translate</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }




        <div class="card-footer text-muted">
            <button style="color:white;" type="submit" class="btn btn-primary">Next</button>
        </div>
    </div>
}
<script>
    function show(i) {
        $("#ShowP" + i).removeClass("hidden");

    }
    $(document).ready(function () {

    })
</script>
