﻿@model List<BussinessLogicCR.Models.EnglishWordModel>
@{
    ViewData["Title"] = "ExerSizePage";
    List<int> wordSelect = new List<int>() { 10, 20, 30 };
    List<int> intNumber=new List<int>();
}
<a href="@Url.Action("ShowAllWords", "EnglishWord")">Show all words</a>
<style>
    td {
        border-top: 0px solid #dee2e6 !important;
    }
    table {
        display: inline;
        width: 42%;
        border-top: 0px solid #dee2e6 !important;
    }
    th {
        border-top: 0px solid #dee2e6 !important;
    }
    #first {
        display: inline;
        margin-right: 41%; 
    }
    #second {
        display: inline;
    } 
</style>
<div class="dropdown show">
    @using (Html.BeginForm("ShowNumberWords", "EnglishWord", FormMethod.Post))
    {
    <p>
        I wont to exersize with
        @Html.DropDownList("number", new SelectList(wordSelect), "--Select--", new { @onchange = "Change(this.value)" })
        words with status  @Html.DropDownList("status", new SelectList(new int[] { 1, 2, 3 }), "--Select status--")
        <input class="btn btn-success" type="submit" value="Find words" />
    </p>
    }


</div>
<div class="container">
    <div id="first">
        <table class="table">
            <thead>
                <tr>
                    <th>Srpski</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="btn btn-info first_@item.Id" onclick="firstClick(@item.Id)">@item.Description</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div id="second">
        <table class="table">
            <thead>
                <tr>
                    <th>Engleski</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(x => Guid.NewGuid()).ToList())
                {
                    <tr>
                        <td>
                            <a class="btn btn-info second_@item.Id" onclick="secondClick(@item.Id)">@item.Word</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
<div id="info">
    
</div>
<script>
    var firstID;
    var c1 = 0, c2 = 0;
    var numberTrue = 0, numberFalse = 0;
    function firstClick(idFirst) {
        firstID = idFirst;
        c1++;
    }
    function secondClick(idSecond) {
        c2++;
        if (c1 == c2) {
            if (firstID === idSecond) {
                $(".first_" + firstID).css("background-color", "green");
                $(".second_" + idSecond).css("background-color", "green");
                $("#info").html("<span> Pogodjeno reci: <b style='color:green'>" + ++numberTrue + "</b> <br /> Promaseno reci: <b style='color:red'> " + numberFalse +" </b></span >");
            }
            else {
                $(".first_" + firstID).hide();
                $(".second_" + firstID).hide(); 
                $("#info").html("<span> Pogodjeno reci: <b style='color:green'>" + numberTrue + "</b> <br /> Promaseno reci: <b style='color:red'>" + ++numberFalse + "</b></span >");

                 
            }
        }
        else {
            c2 = 0;
            c1 = 0;
        }

    }
    $(document).ready(function () {

    });
</script>


