﻿@model List<BussinessLogicCR.Models.EnglishWordModel>
@{
    ViewData["Title"] = "ShowAllWords";
    int i = 1;
} 
<style>
    a {
        display:inline;
    }
</style>
<a class="btn btn-primary" href="@Url.Action("ExerSizePage","EnglishWord")">Back to exersize</a>
<a class="btn btn-primary" href="@Url.Action("PrintPdf","EnglishWord")">Print PDF</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">@(Model.Count())</th>
            <th scope="col">Word</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>@(i).</th>
            <td>@item.Word</td>
            <td>@item.Description</td>
            <td>@item.Status</td>
            <td>
                <a class="btn btn-sm btn-primary" href="@Url.Action("EditWord","EnglishWord",new { id=item.Id})">Edit</a>
                <a class="btn btn-sm btn-primary" href="@Url.Action("DeleteWord","EnglishWord",new { id=item.Id})">X</a>
            </td>
        </tr>
            i++;
        }
    </tbody> 
</table>

