﻿@model List<BussinessLogicCR.Models.EnglishWordModel>
@{
    ViewData["Title"] = "WordWithPicture";
    List<int> intNumber = new List<int>();
    int wordItem = 0;
}
<style>
    .listWord {
        display: inline-block;
        padding: 7px;
        line-height: 40px;
    }
    .buttonItem {
        background-color: #aad7f7;
        cursor:pointer;
    }
    .listItem {
        display: inline-block;
        padding: 16px;
        line-height: 21px;
        position: absolute;
        left: 50%;
        top: 159px;
    }
</style>
@if (Model == null)
{
<div class="dropdown show">
    @using (Html.BeginForm("WordWithPicture", "EnglishWord", FormMethod.Post))
    {
        <p>
            I wont to exersize with all
            words with status  @Html.DropDownList("status", new SelectList(new int[] { 1, 2, 3 }), "--Select status--")
            <input class="btn btn-success" type="submit" value="Find words" />
        </p>
    }
     
</div>
}
else {
<div class="container">
    <div class="listWord">
        @foreach (var item in Model.ToList())
        {
            <div id="word_@item.Id" class="row @(wordItem==0?"active":"")">
                <div class="col-sm">
                     <a class="btn  btn-sm buttonItem"
                       onclick="Func_LoadPv(@item.Id)">@item.Word</a>
                </div>
            </div> 
            wordItem++;
        }
    </div> 

    <div class="listItem" id="listItem">

    </div>
</div>
} 
<script>
    function removeActiveClass() {
        $('.active').removeClass("active");
    }
    function Func_LoadPv(Cid) {
        $.get("/EnglishWord/_PartialWord?Id=" + Cid, function (res) {
            $(".listItem").html("<span>" + res + "<\span>"); 
            removeActiveClass();
            $("#word_" + Cid).addClass("active");
        });
    } 
    $(document).ready(function () {

        var idFirst = $(".active").attr("id").split("_")[1];
        Func_LoadPv(idFirst);
        document.onkeydown = function (e) {
            switch (e.keyCode) {
                case 37: 
                    var prevData = $('.active').prev('.row').attr("id");
                    if (prevData !== undefined) {
                        Func_LoadPv($('.active').prev('.row').attr("id").split("_")[1]);
                    }
                    break;
                case 39:
                    var nextData = $('.active').next('.row').attr("id");
                    if (nextData !== undefined) {
                        Func_LoadPv($('.active').next('.row').attr("id").split("_")[1]);
                    } 
                    break;
            }
        };
    });
</script>
