﻿@model X.PagedList.IPagedList<DoItemModel>
@using BussinessLogicCR.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "ToDoApp";
}
<style>
    .tables {
        margin-top: 66px;
    }

    .active {
        border: 1px solid #1b8ddf;
        border-radius: 7px;
        color: #170ff3;
    }
    pre {
        padding: 7px 7px 6px 7px;
        margin-bottom: -4px !important;
    }
    .textArea { 
        height: 100%;
        width: 100%;
        background-color:darkkhaki;
    }
    .itemTextAreas {
        height: 100%;
        width: 100%;
    }
    .date {
        font-size: 9px;
        color: gray;
        top: 1px;
        position: relative;
    }
    .btn {
        position:relative;
    }
    img {
        width: 22px;
        height: 21px;
    }
    .buttonCorrect {
        position: absolute;
        right: 97px;
        margin-top: -40px;
    }
    .page-item {
        margin-left: 6px;
        padding: 0px 7px 0px 9px;
        position: relative;
        bottom: -13px;
    }
</style> 
<!-- odavde --> 
<div style="width:105%;">
    <form action="@(Url.Action("AddtoDoItem", "DoItem"))" id="form" method="post">
        <textarea name="text" id="text"
                  class="textArea"
                  data-val-required="The Description field is required."
                  data-val-maxlength-max="5000"
                  data-val-maxlength="The field Description must be a string or array type with a maximum length of '5000'."
                  data-val="true"></textarea>

    </form>

     

            @foreach (var item in Model)
{

<div>
    <span class="date">@item.DateAdded.Value.ToString("dd.MM.") </span>
    <pre style="@(item.Active==true?"background-color:#7fe3cc":"background-color:#dd969a"); "
         class="itemTextAreas"><b> @item.Item</b>
                    </pre>

    <span class="buttonCorrect">
        @if(item.Active==true){
        <a class="btn btn-sm " href="@(Url.Action("Done","DoItem",new { id=item.Id}))"><img src="~/Content/ButtonIcon/correct_t.PNG" /></a>
        <a class="btn btn-sm " href="@(Url.Action("Delete","DoItem",new { id=item.Id}))"><img src="~/Content/ButtonIcon/noCorrect.jfif" /></a>}
    </span>
</div>
        } 
</div>
 
 
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("ToDoApp", "DoItem", new { page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptions
    {
        UlElementClasses = new string[] { "pagination" },
        LiElementClasses = new string[] { "page-item" } 
    })
     
<script>
    $(document).ready(function () {
        $("#text").keyup(function (event) {
            if (event.keyCode === 18) {
                $("#form").submit();
            }
        });
    });

</script>

